@model IEnumerable<WebApplication2.Models.LESSION>

@{
    ViewBag.Title = "TaiKhoan";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<br /><br /><br /><br /><br /><br /><br />
<h2>Bài giảng đã được đánh dấu</h2>
<table class="table">
    <tr>
        
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            <a href="@Url.Action("DetailCourse","Home",new { @id_course=item.ID_COURSE,@id_lession=item.ID_LESSION})">
                @Html.DisplayFor(modelItem => item.NAME_LESSION)
            </a>
           
        </td>
        <td>
            <a href="@Url.Action("Remove", "NguoiDung", new {@id_less=item.ID_LESSION})"><i class="fas fa-trash-alt"></i></a>
        </td>
        
        
    </tr>
}
@ViewBag.error
</table>
