
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<section class="page-header services-header" data-parallax="scroll" data-image-src="~/Assets/images/header/blog-folding-img.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Our Blogs. <br> </h1>
            </div>
        </div>
    </div>
</section>

<section class="blog">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h2>Our Blog</h2>
            </div>
            <div class="col-md-9">
                <div class="blog-list-section blog-content-right row">
                    <div class="col-md-9 blog-content-area">
                        <div class="blog-img">
                            <img class="img-responsive" src="~/Assets/images/course/bv_hot1.png" alt="" style="height:400px; width: 800px;">
                        </div>
                        <div class="blog-content">
                            <a href="blog-single.html"><h4 class="blog-title">Thưởng thức âm nhạc không lời <br /> Khi học tập</h4></a>
                            <div class="meta">
                                <div class="date">
                                    <p>10/10/2021</p>
                                </div>
                                <div class="author">
                                    <p>Lê Thành Trung</p>
                                </div>
                            </div>
                            <p class="blog-decisions">Xin chào các bác F8, trong quá trình tự học và đọc tài liệu các bác áp dụng phương pháp nào để tăng độ tập trung khi học tập. Riêng mình thì sẽ chọn âm nhạc, còn gì bằng khi nghe những giai điệu lofi, không lời cùng tách cafe đọc cuốn tài liệu khô queo.</p>
                            <a class="btn btn-default th-btn solid-btn" href="blog-single.html" role="button">Đọc thêm <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

              
                <div class="blog-list-section blog-content-left row">
                    <div class="col-md-9 blog-content-area">
                        <!-- Blog slider -->
                        <div id="blog-slider" class="blog-slider">
                            <div class="item">
                                <div class="blog-img">
                                    <img class="img-responsive" src="~/Assets/images/course/bv_hot2.png" alt="" style="height:400px; width: 800px;">
                                </div>
                            </div>
                            <div class="item">
                                <div class="blog-img">
                                    <img class="img-responsive" src="~/Assets/images/course/bv_hot3.png" alt="" style="height:400px; width: 800px;">
                                </div>
                            </div>
                            <div class="item">
                                <div class="blog-img">
                                    <img class="img-responsive" src="~/Assets/images/course/bv_hot4.png" alt="" style="height:400px; width: 800px;">
                                </div>
                            </div>
                        </div>
                        <div class="blog-content">
                            <a href="blog-single.html"><h4 class="blog-title">Giá trị của một Full-Stack Developer?</h4></a>
                            <div class="meta">
                                <div class="date">
                                    <p>10/10/2021</p>
                                </div>
                                <div class="author">
                                    <p>Khang Pham</p>
                                </div>
                            </div>
                            <p class="blog-description">
                                Trong bài viết này chúng ta sẽ tìm hiểu full-stack developer.

                                Họ là ai?
                                Họ làm việc như thế nào?
                                Giá trị của họ ra sao?
                                Nào cùng tìm hiểu nhé! OK let’s go!!!
                            </p>
                            <a class="btn btn-default th-btn solid-btn" href="blog-single.html" role="button">Đọc thêm <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Blog List Video Image
                ========================= -->
                <div class="blog-list-section row">
                    <div class="col-md-9 blog-content-area">
                        <div class="video-section">
                            <img class="img-responsive" src="~/Assets/images/course/bv_hot5.png" alt="" alt="" style="height:400px; width: 800px;">
                            <div class="video-overlay">
                                <a id="th-video" class="th-video" href="blog-single.html"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="blog-content">
                            <a href="blog-single.html"><h4 class="blog-title">[Cơ bản]Object trong Javascript</h4></a>
                            <div class="meta">
                                <div class="date">
                                    <p>10/10/2021</p>
                                </div>
                                <div class="author">
                                    <p>Long Nguyen</p>
                                </div>
                            </div>
                            <p class="blog-decisions">1. Tổng quan về Object: Khác với các kiểu dữ liệu đơn giản - kiểu dữ liệu nguyên thủy (number, string, boolean) chỉ chứa một giá trị đơn giản.</p>
                            <a class="btn btn-default th-btn solid-btn" href="blog-single.html" role="button">Đọc thêm <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <!-- See All Post -->
                <div class="col-md-12">
                    <div class="see-all-post text-center">
                        <a class="btn btn-default th-btn solid-btn" href="#" role="button">See All Posts <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="blog-sidbar">
                    <div class="search widgets">
                        <form class="form-inline">
                            <div class="form-group search-input">
                                <input type="text" class="form-control" placeholder="Search ...">
                            </div>
                            <button type="submit" class="btn btn-default tf-search-btn"><i class="tf-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


