
@{
    ViewBag.Title = "Hoc";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section class="page-header services-header" data-parallax="scroll" data-image-src="~/Assets/images/header/services-folding-img.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"> Các Khóa học <br> tại F</h1>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title text-center">
                    <h2>Chương trình đào tạo</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item text-center">
                    <div class="services-icon">
                        <i class="tf-mobile"></i>
                    </div>
                    <h4 class="service-title">Nhập môn</h4>
                    <p class="service-description">
                        Các bài học đơn giản, dễ hiểu, lộ trình rõ ràng phù hợp người mới biết đến lập trình.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item text-center">
                    <div class="services-icon">
                        <i class="tf-telescope"></i>
                    </div>
                    <h4 class="service-title">Nâng cao</h4>
                    <p class="service-description">
                        Các bài học với mức độ khó dần, nâng cao tay nghề lâp trình viên.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item text-center">
                    <div class="services-icon">
                        <i class="tf-presentation"></i>
                    </div>
                    <h4 class="service-title">Front-end</h4>
                    <p class="service-description">
                        Giao diện của một trang web và kiến trúc những trải nghiệm của người dùng.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item text-center">
                    <div class="services-icon">
                        <i class="tf-strategy"></i>
                    </div>
                    <h4 class="service-title">Back-end</h4>
                    <p class="service-description">
                        Kĩ thuật lập trình đòi hỏi cao, các giải pháp hiệu quả nhất cho kiến trúc công nghệ.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item text-center">
                    <div class="services-icon">
                        <i class="tf-anchor2"></i>
                    </div>
                    <h4 class="service-title">Full-stack</h4>
                    <p class="service-description">
                        Học viên sẽ học được cả về front-end và back-end ở mức độ nâng cao dần qua các bài học.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item text-center">
                    <div class="services-icon">
                        <i class="tf-globe"></i>
                    </div>
                    <h4 class="service-title">Design</h4>
                    <p class="service-description">
                        Học về các mẫu thiết kế giao diện người dùng, cung cấp ra các template.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pricing-table">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title text-center">
                    <h2>khóa học</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="table text-center">
                    <!-- anh hoc
                    ===================== -->
                    <div class="table-price border-effect">

                        <img src="~/Assets/images/course/cour1.png" alt="Client Logo">

                    </div>
                    <div class="pricing-list border-effect">
                        <ul class="features-list">
                            <li>
                                <p>
                                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i>
                                    Hiểu về JS cơ bản
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i>
                                    Học về Framework JS
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i>
                                    Thành thạo DOM APIs
                                </p>
                            </li>
                        </ul>
                        <input type="button" class="btn btn-default btn-main th-btn-border" value="Học Ngay">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="table text-center">
                    <!-- pricing table
                    ===================== -->
                    <div class="table-price border-effect">

                        <img src="~/Assets/images/course/cour2.png" alt="Client Logo">

                    </div>
                    <div class="pricing-list border-effect">
                        <ul class="features-list">
                            <li>
                                <p>
                                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i>
                                    Các kĩ thuật cơ bản
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i>
                                    Mô hình Client-Server
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i>
                                    Domain là gì?
                                </p>
                            </li>
                        </ul>
                        <input type="button" class="btn btn-default btn-main th-btn-border" value="Học Ngay">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="table text-center">
                    <!-- pricing table
                    ===================== -->
                    <div class="table-price border-effect">

                        <img src="~/Assets/images/course/cour3.png" alt="Client Logo">

                    </div>
                    <div class="pricing-list border-effect">
                        <ul class="features-list">
                            <li>
                                <p>
                                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i>
                                    Các thủ thuật UI/UX
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i>
                                    Css cơ bản
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i>
                                    Html cơ bản
                                </p>
                            </li>
                        </ul>
                        <input type="button" class="btn btn-default btn-main th-btn-border" value="Học Ngay">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="table text-center">
                    <!-- anh hoc
                    ===================== -->
                    <div class="table-price border-effect">

                        <img src="~/Assets/images/course/cour4.png" alt="Client Logo">

                    </div>
                    <div class="pricing-list border-effect">
                        <ul class="features-list">
                            <li>
                                <p>
                                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i>
                                    Xây dựng website Responsive
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i>
                                    Xây dựng được thư viện CSS Grid
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i>
                                    Hiểu Grid layout trong bootstrap
                                </p>
                            </li>
                        </ul>
                        <input type="button" class="btn btn-default btn-main th-btn-border" value="Học Ngay">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="table text-center">
                    <!-- pricing table
                    ===================== -->
                    <div class="table-price border-effect">

                        <img src="~/Assets/images/course/cour5.png" alt="Client Logo">

                    </div>
                    <div class="pricing-list border-effect">
                        <ul class="features-list">
                            <li>
                                <p>
                                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i>
                                    lý thuyết về API và RESTful API
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i>
                                    Mongoose, MongoDB trong NodeJS
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i>
                                    khái niệm về giao thức HTTP
                                </p>
                            </li>
                        </ul>
                        <input type="button" class="btn btn-default btn-main th-btn-border" value="Học Ngay">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="table text-center">
                    <!-- pricing table
                    ===================== -->
                    <div class="table-price border-effect">

                        <img src="~/Assets/images/course/cour6.png" alt="Client Logo">

                    </div>
                    <div class="pricing-list border-effect">
                        <ul class="features-list">
                            <li>
                                <p>
                                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i>
                                    Có nền tảng Javascript vững chắc
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i>
                                    Bind, call, apply & xử lý bất đồng bộ
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i>
                                    Javascript giúp code trở nên tối ưu hơn
                                </p>
                            </li>
                        </ul>
                        <input type="button" class="btn btn-default btn-main th-btn-border" value="Học Ngay">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
