@model IEnumerable<WebApplication2.Models.LESSION>

<style>
    .td_hover:hover{
        background-color:antiquewhite;
    }
    
</style>
<table class="table">
 

@foreach (var item in Model) {
    <tr style="background-color:black; ">
      
        <td class="td_hover">
            <p style="color:white">@Html.DisplayFor(modelItem => item.NAME_LESSION)</p>
            
        </td>
        
        
    </tr>
}

</table>
