@model IEnumerable<WebApplication2.Models.LESSION>

<style>
    .td_hover:hover{
        background-color:antiquewhite;
    }
    
</style>
<table class="table">
 

@foreach (var item in Model) {
    <tr style="background-color:black; ">
      
        <td class="td_hover">
            <a href="@Url.Action("DetailCourse","Home",new { @id_course=item.ID_COURSE,@id_lession=item.ID_LESSION})">
                <p style="color:white">@Html.DisplayFor(modelItem => item.NAME_LESSION)</p>
            </a>
           
           
        </td>
        
        
    </tr>
}

</table>
